body, html{
  height:100%;
  background: url(background.jpg) no-repeat center center;
  background-size: cover;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.lineUp{
  padding:5px 12px;
  float:left;
}
.conga{
  padding:5px 12px;
  float:left;
}
.dancer, .rocker, .bouncy, .spinner{
  position:absolute;
  background: url(tonyphillips.jpg) no-repeat;
  background-size: 100%;
  height: 120px;
  width: 90px;
}
.dancer{
  -webkit-animation: Dance 2s 1s infinite linear alternate;
  animation: Dance 2s 1s infinite linear alternate;
}
.rocker{
  background: url(shawndrost.jpg) no-repeat;
  background-size: 100%;
  -webkit-animation: Rock 2s 1s infinite linear alternate;
  animation: Rock 2s 1s infinite linear alternate;
}
.bouncy{
  background: url(marcusphillips.jpg) no-repeat;
  background-size: 100%;
  -webkit-animation: Scale 2s 1s infinite linear alternate;
  -moz-animation: Scale 2s 1s infinite linear alternate;
  -ms-animation: Scale 2s 1s infinite linear alternate;
  -o-animation: Scale 2s 1s infinite linear alternate;
  animation: Scale 2s 1s infinite linear alternate;
}
.spinner{
  background: url(dougcalhoun.jpg) no-repeat;
  background-size: 100%;
  -webkit-animation: Rotate 2s 1s infinite linear alternate;
  -moz-animation: Rotate 2s 1s infinite linear alternate;
  -ms-animation: Rotate 2s 1s infinite linear alternate;
  -o-animation: Rotate 2s 1s infinite linear alternate;
  animation: Rotate 2s 1s infinite linear alternate;
}

@-webkit-keyframes Rotate { to { transform: rotate(360deg); } } /* Use all 5 declarations for different browsers*/
@-moz-keyframes Rotate { to { transform: rotate(360deg); } }
@-ms-keyframes Rotate { to { transform: rotate(360deg); } }
@-o-keyframes Rotate { to { transform: rotate(360deg); } }
@keyframes Rotate { to { transform: rotate(360deg); } }

@-webkit-keyframes Scale { to { transform: scale(2); } }
@-moz-keyframes Scale { to { transform: scale(2); } }
@-ms-keyframes Scale { to { transform: scale(2); } }
@-o-keyframes Scale { to { transform: scale(2); } }
@keyframes Scale { to { transform: scale(2); } }

@-webkit-keyframes Rock { to { background: url(shawn2.png); background-size: 100%; } }
@keyframes Rock { to { background: url(shawn2.png); background-size: 100%;} }

@-webkit-keyframes Dance { to { opacity: 0; } }
@keyframes Dance { to { opacity: 0;} }
